.page-header{
    padding:40px 5%;
}

.page-header h1{
    font-size:48px;
    margin-bottom:10px;
}

.search-bar{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
    padding:0 5% 25px;
}

.search-bar select,
.search-bar input,
.search-bar button{
    padding:14px;
    border-radius:8px;
    border:1px solid #ccc;
}

.search-bar button{
    background:black;
    color:white;
}

.main-content{
    padding:0 5% 50px;
    display:grid;
    grid-template-columns:3fr 1fr;
    gap:25px;
}

.pet-card{
    background:white;
    border:1px solid #ddd;
    border-radius:10px;
    padding:15px;
    margin-bottom:20px;

    display:grid;
    grid-template-columns:250px 1fr 180px;
    gap:20px;
    align-items:center;
}

.pet-image{
    position:relative;
}

.pet-image img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:8px;
}

.status{
    position:absolute;
    top:10px;
    right:10px;
    background:#28a745;
    color:white;
    padding:5px 10px;
    border-radius:20px;
    font-size:12px;
}

.pet-info p{
    margin-top:10px;
}

.pet-action{
    text-align:center;
}

.pet-action button{
    padding:12px 30px;
}

.sidebar{
    background:white;
    border:1px solid #ddd;
    border-radius:10px;
    padding:25px;
    height:max-content;
}

.sidebar label{
    display:block;
    margin-top:20px;
    margin-bottom:8px;
}

.sidebar select{
    width:100%;
    padding:12px;
}

.apply-filter,
.clear-filter{
    width:100%;
    margin-top:20px;
    padding:12px;
}

.apply-filter{
    background:black;
    color:white;
}

@media(max-width:992px){

    .main-content{
        grid-template-columns:1fr;
    }

    .search-bar{
        grid-template-columns:1fr 1fr;
    }

    .pet-card{
        grid-template-columns:1fr;
    }

}

@media(max-width:768px){

    .search-bar{
        grid-template-columns:1fr;
    }

    .page-header h1{
        font-size:36px;
    }

}
.pet-action a:hover {
    background: #d81b60 !important;
}